* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #8af5ec;
}

h1 {
  position: absolute;
  top: 18%;
  left: 44%;
  font-family: sans-serif;
}
.botoes {
  width: 50px;
  height: 50px;
  margin: 2px;
  background-color: gray;
  border: 1px solid rgb(0, 0, 0, 0.25);
  color: white;
  font-size: 18pt;
  cursor: pointer;
  transition: 100ms ease;
}

.botoes:hover {
  opacity: 80%;
}

.visor {
  width: 200px;
  padding: 10px;
}

.principal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.igual {
  background-color: green;
  transition: 100ms ease;
  height: 107px;
}

.funcoes {
  background-color: orange;
  transition: 100ms ease;
}

.bt0 {
  width: 96%;
}

.limpar {
  background-color: red;
}
